/* Variables */
@import "../bower_components/materialize/sass/components/color";
@import "../bower_components/materialize/sass/components/variables";
$revel-blue: #00A3e0;
$revel-night: #373B40;
$revel-red: #E93400;
$revel-navy: #053B66;
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #EBEBEB;
    color: $revel-night;
  }
.hide{
  display: none;
}
.show{
  display: block;
}
.btn{
  &.alt{
    background-color: transparent;
    color: $revel-blue;
    border: none;
    &:hover{

    }
  }
  &:hover{
    background-color: darken($revel-blue, 5%);
  }
}
.modal{
  .modal-content{
    margin: 20px auto;
    input{
      padding: 10px;
      border-radius: 6px;
      border: thin solid $revel-blue;
      }
  }
  .modal-close{
    float: right;
  }
}
  main {
    flex: 1 0 auto;
    .btn {
    	background-color: $revel-blue;
    	margin-top: 10px;
    }
  }
nav {
	img {
		width: 100px;
    	margin-bottom: -10px;
	}
	.side-nav {
		padding: 70px 0px;
		background-color: $primary-color;
		li {

			a {
				font-size: 1.2em;
				color: white;
			}
		}
	}
  ul#nav-primary{
    li{
      @media #{$small-and-down}{
        margin-left: 30px;
        margin-right: 2px;
        }
      }
    a.waves-effect{
      @media #{$small-and-down}{
        margin: auto -20px;
      }
    }
    a.btn-floating{
      width: 20px;
      height: 20px;
      position: absolute;
      line-height: 1.5;
      position: absolute;
      top: 10px;
      right: 0px;
      margin: auto;
      @media #{$small-and-down}{
        margin-right: -16px;
      }
    }
  }
}
.breadcrumbs{
  nav{
    height: 40px;
    line-height: 40px;
  }
  .breadcrumb{
    font-size: 14px;
    &:before{
      vertical-align: middle;
      font-size: 14px;
      margin: auto;
    }
  }
}

.promos {
	color: white;
	margin-bottom: 40px;
	.promo {
		padding: 70px 0px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		h1 {
			font-size: 2.4em;
		}
	}
}
.categories {
	color: white;

	.category {
		padding: 40px;
		margin-bottom: 20px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 6px;
		height: 200px;
		color: white;
		h2 {
			font-size: 2.2rem;
		}
		&.waves-effect {
			display: block;
		}
	}
}
.category-item-view, .category-items-view {
	padding: 90px 0px;
	h2 {
		margin-top: 0px;
		font-size: 2em;
		color: $revel-blue;
		margin-bottom: 20px;
		font-weight: 400;
	}
	.price {
		color: $revel-blue;
		font-size: 1.2em;
		margin-bottom: 0px;
	}
	.focus-image {
		width:70%;
		margin-bottom: 30px;
	}
	.category-items {

		p {
			color: $revel-navy;
			strong {
				font-size: 1.2em;
			}
		}
    .product{
      position: relative;
      margin-bottom: 20px;
      .col {
        &:hover{
          border: thin solid $revel-blue;
          background-color: #ffffff;
          border-radius: 6px;
        }
      }
      .quick-veiw{
        margin: auto;
        padding: 10px 20px;
        position: absolute;
        top: 30%;
        width: 80%;
        z-index: 2;
        line-height: normal;
      }
    }

		img {
			width: 90%;
      margin: 10px auto;
      padding: 5px;
		}
	}
	label {
		display: block;
		margin: 10px 0px;
	}
	input {
		padding: 10px;
		border-radius: 6px;
		border:thin solid white;
	}
	.sidebar {
		min-height: 400px;
		padding: 0 20px;
		border-radius: 6px;
		width: 90%;
    h5{
      margin-top: 0;
    }
		ul {
			.waves-effect{
				display: block;
			}
      a{
        &:hover{
          background-color: $revel-blue;
          color: #FFFFFF;
        }
      }
			li{
				margin: 10px 0px;
				padding-left: 10px;
				font-weight: 400;
        color:$revel-navy;
			}
		}
	}
}
.login-create-account-view {
	margin-top: 100px;
	.customer-panel {
		background-color: $revel-navy;
		border: thin solid $revel-blue;
		border-radius: 6px;
		overflow: hidden;
		color: white;
		margin: 20px;
		h2 {
			padding: 20px;
			margin: 0px auto;
			background-color: white;
			color: $revel-night;
			font-size: 24px;
			font-weight: 500;
		}
		.form-area {
			padding: 20px 40px;
			min-height: 350px;
			label, input {
				display: block;
			}
			input {
				width: 100%;
				margin: 10px 0px;
				padding: 10px;
				border: thin solid $revel-blue;
				&#password {
					margin-bottom: 20px;
				}
			}
			.btn {
				background-color: $revel-blue;
				width: 100%;

			}

		}
	}
}
.store-cart {
	h1 {
		color: $revel-blue;
		font-size: 24px;
		margin-left: 10px;
	}
	.cart-items {

		.cart-item {
			border-radius: 6px;
			margin-bottom: 10px;
			padding: 20px;
			img {
				float: left;
        margin: 10px auto;
			}
      h5{
        font-size: 1.4rem;
      }
      input{
        border: thin solid $revel-blue;
        border-radius: 6px;
        width: 20%;
        height: 30px;
      }
      button {
        border: none;
        background: none;
      }
      background-color: white;
      
			// &:nth-child(odd){
			// 	background-color: white;
			// }
			// &:nth-child(even) {
			// 	background-color: $revel-blue;
			// 	color:white;
			// 	span.right {
			// 		color: $revel-night;
      //     button {
      //       border: none;
      //       background: none;
      //       color: #FFFFFF;
      //     }
      //     a{
      //       color: $revel-night;
      //     }
			// 	}
			// }
		}
	}
	.cart-summary {
		border: thin solid $revel-blue;
		background-color: darken(white, 5%);
		border-radius: 6px;
		overflow: hidden;
		color: $revel-night;
		label, input {
			display: block;
		}
		input {
			width: 100%;
			margin: 10px 0px;
			padding: 10px;
			border: thin solid $revel-blue;
			&#password {
				margin-bottom: 20px;
			}
		}
		.btn {
			background-color: $revel-blue;
			width: 100%;

		}
		.order-summary {
			padding: 40px 30px 10px;
      input{
        border: thin solid $revel-blue;
        border-radius: 6px;
        color: $revel-night;
        &:placeholder{
          color: $revel-night;
        }
      }
      .btn{
        padding: 10px 20px;
        height: 100%;
      }
		}
		span {
      font-size: 1.2rem;
			color: $revel-blue;
		}
		h2 {
			font-size: 24px;
			background-color: $revel-blue;
			margin:0px;
			padding: 10px 0px;
			color: white;
		}
		button {
			border: none;
			background: none;
			display: block;
			margin: 20px auto;
		}
	}
}
footer {

	span {
		color: white;
	}
	img {
		margin-bottom: 10px;
	}
	&.page-footer {
		background-color: $revel-night;
	}
}
